.navbar-default {
	background-color: #4f0000 !important;
	margin-bottom: 0px !important;
}
.navbar-header {
	width: 100% !important;
	height: 70px;
	padding-top: 9px;
}
.navbar-brand {
	color: black !important;
	width: 100% !important;
	font-size: 30px;
}
.btn {
	font-weight: bold;
}
hr.contactsByName {
	border-width: 2px;
}
hr.line-maroon{
	border-color: #4f0000 !important;
}

.form-group {
	margin-top: 25px;
}
.form-control {
	float: left;
	width: 75% !important;
}
.form-group .btn {
	float: left;
	width: 25% !important;
}
.form-group .buttonAdd {
	width: 100% !important;
	margin-left: 105% !important;
}

.row.contacts {
	margin-top: 10px;
	margin-right: 5px;
}
.contacts p {
	font-size: 14px;
	margin-bottom: 5px !important;
}
.contactName {
	font-weight: bold;
	font-size: larger;
}
.indented {
	margin-left: 30px;
}
.noUpdate{
	margin-left: -13px;
}
.row.createContact h3{
    font-size: 23px;
    margin-top: 31px;
}
.row.updateContact h3{
	font-size: 23px;
	margin-top: 31px;
	margin-right: 50px !important;
}
hr.edit {
    border-width: 2px;
}

.tagsa:hover {
  background-color: #d9d9d9!important;
}

.container-view{
	margin: 0 8% 0 12%;
}

.left-align{
	text-align: left !important;
}